.home
  .hero
    .description
      color #555555

.token
  &.comment,
  &.block-comment
    color #00a8ff
    font-style italic

.token
  &.string
    color #4cd137

.token.prolog,
.token.doctype,
.token.cdata
  color #999

.token
  &.punctuation
      color #ccc
  &.function-name
      color #6196cc
  &.italic
      font-style italic
  &.entity
      cursor help
  &.inserted
      color green

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted
  color #e2777a

.token.boolean,
.token.number,
.token.function
  color #f08d49

.token.property,
.token.class-name,
.token.constant,
.token.symbol
  color #f8c555

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin
  color #cc99cd

.token.char,
.token.attr-value,
.token.regex,
.token.variable
  color #7ec699

.token.operator,
.token.entity,
.token.url
  color #67cdcc

.token.important,
.token.bold
  font-weight bold

/* bash */
.language-bash
  .token
    &.function
      color #fbc531
    &.operator
      color #f5f6fa

/* javascript */
.language-javascript
  .token
    &.function
      color #fbc531
    &.punctuation
      color #f5f6fa

/* json */
.language-json
  .token
    &.boolean,
    &.operator,
    &.punctuation
      color #f5f6fa
    &.property
      color #fbc531
    &.string
      color #f5f6fa

/* markdown */
.language-markdown
  .token
    &.title
      color #fbc531
    &.punctuation
      color #f5f6fa

/* properties */
.language-properties
  .token
    &.attr-name
      color #fbc531
    &.attr-value
      color #f5f6fa
    &.punctuation
      color #e67e22
